mail-from-address = @webmaster-email@
mail-to-address   = @webmaster-email@
mail-subject      = PDF-prenumerations-beställning
mail-format       = Användaren #user_full_name# med e-mail #user_email# har begärt följande ändringar i prenumerationen:\n

mail-begin-subscription-message = Påbörja prenumeration på #magazine#\n
mail-end-subscription-message   = Avsluta prenumeration på #magazine#\n
